*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* ==========================================================================
   Container
   ========================================================================== */

body {
  background-color: #f0f4f8;
}

/* form */
label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}

input[type='text'],
input[type='number'],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  height: 100px;
  resize: vertical;
}

/* form container */

.wrapper,
.form-wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}

.error-message {
  color: red;
  font-size: 12px;
}

.preview ul {
  list-style-type: none;
}

.preview li {
  font-size: 20px;
  line-height: 2;
}

.preview li span {
  font-weight: 600;
}

.preview-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 5px 0;
}

/* modal */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(170, 170, 170, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  min-width: 40%;
  background: white;
  padding: 100px;
  z-index: 9999;
}

.modal ul {
  list-style: none;
}

.modal li {
  font-size: 20px;
  line-height: 1.8;
}

.modal li span {
  font-weight: 600;
}

.cancel-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 40px;
}

.dashboard-total-product {
  width: 30%;
  padding: 30px 10px;
  background: #ada9e9;
  text-align: center;
  margin-bottom: 20px;
}
.dashboard-total-product p {
  font-size: 20px;
  color: #333;
}

.dashboard-total-product h4 {
  font-size: 24px;
  margin-top: 5px;
  color: #333;
}

.dashboard {
  margin-top: 10px;
}

.dashboard h1 {
  margin: 20px 0;
  text-align: center;
}
